In [ ]:
# yahoofinance
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 823 kB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 40.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.preprocessing import StandardScaler
# GridSearchCrossValidation
# Ver modelos utilizando diferentes hiperparámetros

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
from sklearn.model_selection import GridSearchCV
# Gradient boosting se enfoca en corregir los errores

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, roc_auc_score, f1_score

In [ ]:
pd.set_option("display.float_format", lambda x: "%.5f" % x)

In [ ]:
accion_hist = yf.download("SPY", "2018-01-01", "2022-04-29", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [ ]:
accion_hist.tail()

                Open      High       Low     Close  Adj Close     Volume
Date
2022-04-22 436.91000 438.07999 425.44000 426.04001  426.04001  132471800
2022-04-25 423.67001 428.69000 418.84000 428.51001  428.51001  119647700
2022-04-26 425.82999 426.04001 416.07001 416.10001  416.10001  103996300
2022-04-27 417.23999 422.92001 415.01001 417.26999  417.26999  122030000
2022-04-28 422.29001 429.64001 417.60001 427.81000  427.81000  105449100

In [ ]:
accion_hist.dropna(inplace=True)

In [ ]:
df = accion_hist[["Adj Close"]].copy()

In [ ]:
df

            Adj Close
Date
2018-01-02  249.99338
2018-01-03  251.57468
2018-01-04  252.63490
2018-01-05  254.31857
2018-01-08  254.78362
...               ...
2022-04-22  426.04001
2022-04-25  428.51001
2022-04-26  416.10001
2022-04-27  417.26999
2022-04-28  427.81000

[1089 rows x 1 columns]

In [ ]:
df["Lag_1"] = df["Adj Close"].shift(1)

In [ ]:
for i in range(1, 29):
  df["Lag_" + str(i)] = df["Adj Close"].shift(i)

In [ ]:
df["Lag_28"]

Date
2018-01-02         NaN
2018-01-03         NaN
2018-01-04         NaN
2018-01-05         NaN
2018-01-08         NaN
                ...
2022-04-22   415.70856
2022-04-25   424.85016
2022-04-26   434.27087
2022-04-27   439.70401
2022-04-28   444.51999
Name: Lag_28, Length: 1089, dtype: float64

In [ ]:
# Variación porcentual diaria
df["Retorno"] = df["Adj Close"].pct_change()
df

,Adj Close,Lag_1,Lag_2,Lag_3,Lag_4,Lag_5,Lag_6,Lag_7,Lag_8,Lag_9,...,Lag_20,Lag_21,Lag_22,Lag_23,Lag_24,Lag_25,Lag_26,Lag_27,Lag_28,Retorno
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00633
2018-01-04,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00421
2018-01-05,254.31857,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00666
2018-01-08,254.78362,254.31857,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,439.92001,447.57001,...,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,424.85016,415.70856,-0.02744
2022-04-25,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,439.92001,...,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,424.85016,0.00580
2022-04-26,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,...,455.91000,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,-0.02896
2022-04-27,417.26999,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,...,461.54999,455.91000,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,0.00281
2022-04-28,427.81000,417.26999,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,...,458.70001,461.54999,455.91000,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,0.02526

In [ ]:
df["Sube"] = str(df["Retorno"].copy())
for i in range(len(df["Retorno"])):
  if df["Retorno"][i] > 0:
    df["Sube"][i] = "Sube"
  elif df["Retorno"][i] == 0:
    df["Sube"][i] = "0"
  elif df["Retorno"][i] < 0:
    df["Sube"][i] = "Baja"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

,Adj Close,Lag_1,Lag_2,Lag_3,Lag_4,Lag_5,Lag_6,Lag_7,Lag_8,Lag_9,...,Lag_21,Lag_22,Lag_23,Lag_24,Lag_25,Lag_26,Lag_27,Lag_28,Retorno,Sube
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date\n2018-01-02 NaN\n2018-01-03 0.0...
2018-01-03,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00633,Sube
2018-01-04,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00421,Sube
2018-01-05,254.31857,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00666,Sube
2018-01-08,254.78362,254.31857,252.63490,251.57468,249.99338,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00183,Sube
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,439.92001,447.57001,...,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,424.85016,415.70856,-0.02744,Baja
2022-04-25,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,439.92001,...,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,424.85016,0.00580,Sube
2022-04-26,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,438.29001,...,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,434.27087,-0.02896,Baja
2022-04-27,417.26999,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,443.31000,...,455.91000,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,439.70401,0.00281,Sube
2022-04-28,427.81000,417.26999,416.10001,428.51001,426.04001,438.06000,444.70999,445.04001,437.97000,437.79001,...,461.54999,455.91000,452.69000,450.48999,443.79999,449.59000,444.39001,444.51999,0.02526,Sube

In [ ]:
df["Retorno_Lag_1"] = df["Lag_1"].pct_change()
df["Retorno_Lag_14"] = df["Lag_14"].pct_change()
df["Retorno_Lag_28"] = df["Lag_28"].pct_change()

In [ ]:
# con 60% en precision se puede definir una estrategia
# para encontrar una ganancia

In [ ]:
# Regresion funciona mal con outliers
# Regresion no es buena con problemas de intraday

In [ ]:
# Modelos econométricos - explicación de parámetros
# Modelos de comprobación de teorías/hipótesis
# Evaluación de impacto - políticas públicas
# Sustento estadístico + sustento económico

# Machine lerning se enfoca en la predicción, el error sea el menor posible
# ML modela con ruido, a pesar de eso hace que las predicciones
# sea estables
# Si se pueden incluir muchas variables dicotómicas

# por qué subió mucho el petróleo en la década del 2000? - análisis
# econométrico/forense

# modelo que se puede utilizar para el futuro varias veces, predecir bien

# En área de trading (forex), intraday, captar la volatilidad del día


# Puede hacerse predicción para grado de inversión, etc